html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#top_button {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: black; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 8px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#top_button:hover {
    opacity: 0.7;;
}
.button_1 {
    background-color: black;
    color: white;
    margin-right: 60px;
    padding: 14px 50px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-size: 16px;
}
.button_1:hover {
    background-color: white;
    color: black;
}
.header_1 {
    font-size: 20px;
    text-align: left; 
    color: black;
    min-height: 90px;
    padding: 10px;
}
.header_2 {
    min-height: 85px;
    float: right;
    padding: 10px;
    text-align: center;
    width: 30%
}
.button_2 {
    margin-left: 30px;
    background-color: white;
    color: black;
    padding: 14px 50px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-size: 16px;
}
.button_3 {
    margin-left: 5px;
    background-color: white;
    color: black;
    padding: 14px 50px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-size: 16px;
}
.button_2:hover {
    background-color: black;
    color: white
}
.button_3:hover {
    background-color: black;
    color: white
}
.container {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.content_1 {
    background-image: url(Images/background_11.jpg);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 95%;
    height: 90%;
    background-size: cover;
    text-align: center;
    padding-top: 10px;
    border-radius: 8px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 20px;
}
.under_1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    float: left;
    height: 30%;
    width: 60%;
    margin-left: 30px;
}
.under_2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    float: left;
    margin-top: 120px;
    text-align: center;
    height: 60%;
    width: 60%;
    margin-left: 30px;
}
.content_2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 100%;
    min-height: 100px;
    background-color: #666666;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}
.scroll-element_2 {
    padding-top: 70px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 77px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 43.9%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 850px 450px;
    border-radius: 8px;
    float: right;
    font-size: 20px;;
}
.scroll-element_4 {
    padding-top: 90px;
    margin-left: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 870px 450px;
    border-radius: 8px;
    float: left;
    font-size: 20px;
}
.scroll-element_6 {
    padding-top: 70px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 77px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 43.9%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: 850px 450px;
    border-radius: 8px;
    text-align: center;
    float: right;
    font-size: 20px;;
}
.scroll-element_3 {
    padding: 10px;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(Images/background_19.jpg);
    background-size: 870px 450px;
    border-radius: 8px;
    font-size: 20px;
}
.scroll-element_5 {
    padding: 10px;
    margin-left: 990px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 43.9%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(Images/background_21.jpg);
    background-size: 850px 450px;
    border-radius: 8px;
    font-size: 20px;
}
.scroll-element_7 {
    padding: 10px;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 400px;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url(Images/background_20.jpg);
    background-size: 870px 450px;
    border-radius: 8px;
    font-size: 20px;
}
.scroll-element,
.scroll-caption {
    width: 50%;
}
.scroll-element_1 {
    padding: 10px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 100px;
    font-size: 20px;
    text-align: center;
}
.scroll-element_8 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 100%;
    min-height: 200px;
    background-color: #666666;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.scroll-element_9 {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
}
.scroll-caption {
    margin: 1rem;
}
.js-scroll {
      opacity: 0;
      transition: opacity 500ms;
}
.js-scroll.scrolled {
      opacity: 1;
}
.scrolled.fade-in {
      animation: fade-in 1s ease-in-out both;
}
@keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}
* {
    box-sizing:border-box
}
.slideshow-container {
    width: 100%;
    position: relative;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Slides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 8px;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}
.prev {
    left: 0;
    border-radius: 0px 8px 8px 0px;
}
.prev:hover, .next:hover {
    background-color: black;
}
.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #666666;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.slide_img {
    vertical-align: middle;
    border-radius: 8px;
}
hr {
    border: 1px solid;
    color: black;
    margin-left: 70px;
    margin-right: 77px;
}
.footer_table {
    text-align: center;
    width: 25%;
}
.footer_link {
    color: black;
    text-decoration: none;
}
.under_footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.social_footer {
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}
.fa {
    padding: 15px;
    font-size: 40px;
    width: 52px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
    background-color: black;
}
.fa-telegram {
    background-color: black;
}
.fa-youtube {
    background-color: black;
}
.fa-twitter {
    background-color: black;
}
.fa-facebook {
    background-color: black;
}
.footer {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}