html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.button_1 {
    background-color: black;
    color: white;
    padding: 14px 50px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-size: 15px;
}
.button_1:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.header_1 {
    font-size: 20px;
    text-align: left; 
    color: black;
    min-height: 90px;
    padding: 10px;
}
.header_2 {
    min-height: 85px;
    float: right;
    padding: 10px;
    text-align: center;
    width: 24%
}
.fa {
    padding: 15px;
    font-size: 40px;
    width: 22px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
    background-color: black;
}
.fa-telegram {
    background-color: black;
}
.fa-youtube {
    background-color: black;
}
.fa-twitter {
    background-color: black;
}
.fa-facebook {
    background-color: black;
}
.container {
    width: 100%;
    height: auto;
    background-color: white;
}
.form_design {
    background-image: url(Images/background_22.jpg);
    background-repeat: no-repeat;
    background-size: 1800px 900px;
    border-radius: 8px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
.contact_form {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    min-height: 400px;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
}
input[type = text] {
    padding: 14px 35px;
    border: 1px solid;
    border-radius: 8px;
    background-color: white;
}
.select {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: 1px solid;
}
textarea[name = description] {
    border: 1px solid;
    border-radius: 8px;
}
hr {
    border: 1px solid;
    color: black;
}
.footer_table {
    text-align: center;
    width: 25%;
}
.footer_link {
    color: black;
}
.under_footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.footer {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}